@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

html{
    margin: 4vh 5vw 0vh 5vw;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    color: #0A3871;
    line-height: 150%;
}

body{
    background: #F3F5FC;
}

#main-container{
    height: 88vh;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.main-boxes{
    margin: 10px;
}

#box-logo{
    display: block;
}

#box-interaction{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100vw;
}

.box-interaction-format{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.box-input-format{
    width: 75%;
}

#box-input{
    height: 81%;
}
#box-input2{
    height: 19%;
    margin-bottom: 15px;
}

    #box-input textarea{
        margin: 10px;
        padding: 12px;
        margin-top: 100px;
        height: 100%;
        border: none;
        outline: none !important;
        resize: none;
        background: #F3F5FC;
        color: #0A3871;
        font-family: 'Inter';
        font-style: normal;
        font-size: 32px;
    }

    ::placeholder{
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        color: #0A3871;
    }

    #note{
        display: flex;
        font-size: 12px;
        opacity: 0.8;
        color: #495057;
    }

    #note img{
        width: 12px;
        height: 12px;
        align-self: center;
    }

    #note p{
        margin-left: 10px;
    }

    #box-buttons{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        height: 45%;
    }

    .box-button-format{
        width: 50%;
        height: 100%;
        padding: 0px;
    }

        #encriptar{
            width: 80%;
            height: 100%;
            border-radius: 24px;
            background: #0A3871;
        }

        #encriptar:hover{
            background: rgba(4, 30, 63, 0.900);
            cursor: pointer;
        }

        #encriptar span{
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            margin: auto;
        }

        #desencriptar{ 
            width: 80%;
            height: 100%;
            border-radius: 24px;
            background: #D8DFE8;
            box-sizing: border-box;
            border-radius: 24px;
        }

        #desencriptar:hover{
            background: rgba(186, 193, 201, 0.900);
            cursor: pointer;
        }

        #desencriptar span{
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;           
            color: #0A3871;
            margin: auto;
        }

#box-results{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    width: 43%;
}

    #result{
        width: 80%;
        height: 95%;
        font-size: 24px;
        padding: 25px;
        color: #495057;
        display: none;
    }

    #image{
        width: 336px;
        height: 304px;
        margin-top: 100px;
        align-self: center;
        display: block;
    }

    #text-default1{ 
        margin-top: 20px;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        color: #343A40;
        align-self: center;
        display: block;
    }

    #text-default1 p{
        margin: 20px 0px 0px 0px;
    }


    #text-default2{
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #495057;
        align-self: center;
        display: block;
    }

    #button-copy{
        width: 80%;
        height: 15%;
        padding: 10px;
        display: flex;
        justify-content: center;
        display: none;
    }

    #copiar{
        width: 93%;
        height: 69%;
        margin-top: 10px;
        background: white;
        box-sizing: border-box;
        border-radius: 24px;
    }

    #copiar:hover{
        background: rgb(250, 250, 250);
        cursor: pointer;
    }

    #copiar span{
        font-size: 16px;
        line-height: 19px;
        text-align: center;           
        color: #0A3871;
        margin: auto;
    }

footer{
    height: 5vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

footer p{
    list-style: none;
    margin: 0px 0px 0px 0px;
    text-align: center;
  }

footer ul{
    display: flex;
    flex-flow: row nowrap;
    margin: 0px;
    padding: 0px;
}

footer li{
    list-style: none;
    margin: 5px 10px 5px 10px;
  }

footer a{
    text-decoration: none;
    color: #0A3871;
    font-size: 20px;
}

footer a:hover{
    color: #343434;
}

@media (max-width: 1000px){
    #main-container{
        flex-flow: column nowrap;
        justify-content: space-evenly;
        height: auto;
    }

    #box-logo{
        margin-top: 30px;
    }

    .box-interaction-format{
        width: 85vw;
    }

   #box-interaction{
        width: 85vw;
    }

    .box-input-format{
        width: 100%;
    }

    #box-input textarea{
        margin-top: 10px;
        height: 50vh;
        width: 100%;
    }

    #encriptar{
        width: 90%;
        margin: 0% 5%;
        padding: 5%;
    }

    #desencriptar{
        width: 90%;
        margin: 0% 5%;
        padding: 5%;
    }

    #box-results{
        width: 688px;
        height: 133px;
    }

    #image{
        display: none;
    }

    #box-results{
        width: 85vw;
        height: auto;
    }

    #text-default1 p{
        margin: 5px;
    }

    #button-copy{
        height: 80px;
        margin-left: 5%;
    }

    footer{
        margin-top: 10px;
    }
}

@media (max-width: 470px) and (max-height: 1050px){
    html{
        margin: 2vh 2vw 0vh 2vw;
    }

    .main-boxes{
        margin-bottom: 2%;
        margin-top: 2%;
    }
    #box-input textarea{
        margin-top: 10px;
        height: 40vh;
        width: 100%;
    }
    #box-buttons{
        flex-flow: column nowrap;
        justify-content: center;
    }
    #encriptar{
        width: 190%;
        margin: 0% 10% 5% 5%;
        padding: 10%;
    }
    #desencriptar{
        width: 190%;
        margin: 5% 10% 5% 5%;
        padding: 10%;
    }

}